<tr>
	<td><a href="{% url 'issues:single' username=issue.user.username pk=issue.pk %}">{{issue.name}}</a>
	</td>
	<td class="d-none d-xl-table-cell">{{issue.created_at}}</td>
	<td class="d-none d-xl-table-cell">{{issue.user.username}}</td>
	<td class="d-none d-xl-table-cell">{{issue.project.name}}</td>
	<td class="d-none d-xl-table-cell">{{issue.members.count}}</td>
	<td class="d-none d-xl-table-cell">{{issue.priority}}</td>
	<td class="d-none d-xl-table-cell">{{issue.deadline}}</td>

	{% if issue.solve == False %}
	{% if issue.user == user and not hide_delete %}
	<td><span class="badge badge-danger"><a href="{% url 'issues:solve' pk=issue.pk %}">Mark solved</a></span></td>
	{% else %}
	<td><span class="badge badge-warning">Pending</span></td>
	{% endif %}

	{% else %}
	<td><span class="badge badge-success">Done</span></td>

	{% endif %}

	{% if issue.user == user and not hide_delete %}
	<td class="table-action">
		<a href="{% url 'issues:update' pk=issue.pk %}"><i class="align-middle" data-feather="edit-2"></i></a>
		<a href="{% url 'issues:delete' pk=issue.pk %}"><i class="align-middle" data-feather="trash"></i></a>
	</td>
	{% else %}

	{% if issue.solve == False %}

	{% if user in issue.members.all %}
	<td><a href="{% url 'issues:leave' pk=issue.pk %}"></span>quit</a></td>
	{% else %}
	<td><a href="{% url 'issues:join' pk=issue.pk  %}"></span>workon</a></td>
	{% endif %}

	{% else %}

	{% if user in issue.members.all %}
	<td><a href="{% url 'issues:leave' pk=issue.pk %}"></span>quit</a></td>
	{% endif %}

	{% endif %}

	{% endif %}
</tr>