<div>
	<a>{{ issue.user.username }}</a>
	<a href="{% url 'issues:for_user' username=issue.user.username %}">@{{ issue.user.username }}</a>
	<a href="{% url 'issues:single' username=issue.user.username pk=issue.pk %}">{{ issue.created_at }}</a>
	<a>{{issue.message}}</a>

	{% for tag in issue.tags.all %}
	<a>{{tag}}</a>
	{% endfor %}
	
	{% if user.is_authenticated and issue.user == user and not hide_delete %}
	<a href="{% url 'issues:delete' pk=issue.pk  %}">Delete</a>
	{% endif %}
	
	{% if user.is_authenticated and not hide_delete %}
		{% if issue.user == user %}
			{% if issue.solve == False %}
				<a href="{% url 'issues:update' pk=issue.pk %}">Update</a>
				<a href="{% url 'issues:solve' pk=issue.pk %}">Mark solved</a>
			{% else %}
				<a href="{% url 'issues:update' pk=issue.pk %}">Update</a>
			{% endif %}
		{% else %}
			{% if issue.solve == False %}
				
				{% if user in issue.members.all %}
					<a href="{% url 'issues:leave' pk=issue.pk %}"></span>quit</a>
				{% else %}
					<a href="{% url 'issues:join' pk=issue.pk  %}"></span>workon</a>
				{% endif %}
			
			{% else %}
				
				{% if user in issue.members.all %}
					<a href="{% url 'issues:leave' pk=issue.pk %}"></span>quit</a>
					<a>Solved</a>
				{% endif %}	
			{% endif %}
		{% endif %}
	{% endif %}
	

</div>
