{% extends "issues/issue_base.html" %}
{% load humanize %}

{% block pre_issue_content %}
<!-- <div>
	{% if request.user.is_authenticated %}
	<div>
		<h1>Your Projects</h1>
		<ul>
			{# {% get_user_projects as user_projects %}#}
			{% for member_project in get_user_projects %}
			<li>
				<a href="{% url 'projects:single' pk=member_project.project.pk %}">{{ member_project.project.name }}</a>
			</li>
			{% endfor %}

		</ul>
	</div>


	{% endif %}
	<div>
		<div>

			<h1>All projects</h1>
			<ul>
				{# {% get_other_projects as other_projects %}#}
				{% for other_project in get_other_projects %}
				<li><a href="{% url 'projects:single' pk=other_project.pk %}">{{ other_project.name }}</a></li>
				{% endfor %}
			</ul>

		</div>
	</div>
</div> -->

{% endblock %}
{% block issue_content %}
<main class="content">

	<div class="row mb-2 mb-xl-3">
		<div class="col-auto d-none d-sm-block">
			<h3><strong>All</strong> Issues</h3>
		</div>
	</div>

	<div class="row">
		<div class="card flex-fill">
			<div class="card-header">

				<h5 class="card-title mb-0">Issues</h5>
			</div>
			<table class="table table-hover my-0">
				<thead>
					<tr>
						<th>Name</th>
						<th class="d-none d-xl-table-cell">Created At</th>
						<th class="d-none d-xl-table-cell">Created By</th>
						<th class="d-none d-xl-table-cell">Project</th>
						<th class="d-none d-xl-table-cell">Members Working</th>
						<th class="d-none d-xl-table-cell">Priority</th>
						<th class="d-none d-xl-table-cell">Deadline</th>
						<th>Status</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for issue in issue_list %}
					{% include 'issues/_issue.html' %}
					{% endfor %}

				</tbody>
			</table>
		</div>
	</div>


</main>
{% endblock %}