<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">
<head>
    <title>BugTracker</title>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
	<script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>
<body class="is-boxed has-animations">
    <div class="body-wrap">
        <!-- logo -->
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <h1 class="m-0">
							<a href="#">
								<img class="header-logo-image" src="dist/images/logo.svg" alt="Logo">
                            </a>
                        </h1>
                    </div>
                </div>
            </div>
        </header>
        <!--  -->
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
						<div class="hero-copy">
	                        <h1 class="hero-title mt-0">BugTracker project</h1>
	                        <p class="hero-paragraph">A very simple way to track bugs in a project.<br>You can use this project to tackle issues in other projects </p>
	                        <div class="hero-cta"><a class="button button-primary" href="{% url 'accounts:login' %}">Login</a><a class="button" href="{% url 'accounts:register' %}">Sign Up</a></div>
						</div>
                    </div>
                </div>
            </section>

            <section class="features section">
                <div class="container">
					<div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-01.svg" alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-02.svg" alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-03.svg" alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-04.svg" alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
							<div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-05.svg" alt="Feature 05">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
										<img src="dist/images/feature-icon-06.svg" alt="Feature 06">
                                    </div>
                                    <h4 class="feature-title mt-24">Be Productive</h4>
                                    <p class="text-sm mb-0">Fermentum posuere urna nec tincidunt praesent semper feugiat nibh. A arcu cursus vitae congue mauris. Nam at lectus urna duis convallis. Mauris rhoncus aenean vel elit scelerisque mauris.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

          
			<section class="cta section">
				<div class="container">
					<div class="cta-inner section-inner">
						<h3 class="section-title mt-0">Wanna know about me ?</h3>
						<div class="cta-cta">
							<a class="button button-primary button-wide-mobile" href="https://www.linkedin.com/in/yash-aggarwal-06a751192">Get in touch</a>
						</div>
					</div>
				</div>
			</section>
        </main>

    </div>

    <script>
        ! function () {
            window;
            const e = document.documentElement;
            if (e.classList.remove("no-js"), e.classList.add("js"), document.body.classList.contains("has-animations")) {
              (window.sr = ScrollReveal()).reveal(".feature, .pricing-table-inner", {
                duration: 600,
                distance: "20px",
                easing: "cubic-bezier(0.5, -0.01, 0, 1.005)",
                origin: "bottom",
                interval: 100
              }), e.classList.add("anime-ready"), anime.timeline({
                targets: ".hero-figure-box-05"
              }).add({
                duration: 400,
                easing: "easeInOutExpo",
                scaleX: [.05, .05],
                scaleY: [0, 1],
                perspective: "500px",
                delay: anime.random(0, 400)
              }).add({
                duration: 400,
                easing: "easeInOutExpo",
                scaleX: 1
              }).add({
                duration: 800,
                rotateY: "-15deg",
                rotateX: "8deg",
                rotateZ: "-1deg"
              }), anime.timeline({
                targets: ".hero-figure-box-06, .hero-figure-box-07"
              }).add({
                duration: 400,
                easing: "easeInOutExpo",
                scaleX: [.05, .05],
                scaleY: [0, 1],
                perspective: "500px",
                delay: anime.random(0, 400)
              }).add({
                duration: 400,
                easing: "easeInOutExpo",
                scaleX: 1
              }).add({
                duration: 800,
                rotateZ: "20deg"
              }), anime({
                targets: ".hero-figure-box-01, .hero-figure-box-02, .hero-figure-box-03, .hero-figure-box-04, .hero-figure-box-08, .hero-figure-box-09, .hero-figure-box-10",
                duration: anime.random(600, 800),
                delay: anime.random(600, 800),
                rotate: [anime.random(-360, 360), function (e) {
                  return e.getAttribute("data-rotation")
                }],
                scale: [.7, 1],
                opacity: [0, 1],
                easing: "easeInOutExpo"
              })
            }
          }();
          
    </script>
</body>

</html>
