{% extends 'base.html' %}
{% block content %}
{% load static %}
<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Profile</h1>

        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile Details</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="{{profile.profile_pic.url}}" alt="If uploaded,it will be updated soon"
                            class="rounded-circle img-responsive mt-2" width="128" height="128" />
                        <h5 class="card-title mb-0"><br>{{profile.first_name.capitalize}}</h5>
                        <div class="text-muted mb-2">{{profile.occupation.capitalize}}</div>
                        <h5 class="card-title mb-0"><br>Reputation points : {{profile.reputation_points}}</h5><br>
                        <div>
                            {% if user != profile.user %}
                            <a class="btn btn-primary btn-sm" href="{% url 'chats:list' pk=profile.user.pk %}"><span data-feather="message-square"></span>
                                Message</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="list-group list-group-flush" role="tablist">
                        <a class="list-group-item list-group-item-action active" data-toggle="list" href="#answers"
                            role="tab">
                            Answers - {{answers.count}}
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#issues" role="tab">
                            Issues - {{issues.count}}
                        </a>
                        <a class="list-group-item list-group-item-action" data-toggle="list" href="#projects"
                            role="tab">
                            Projects - {{projects.count}}
                        </a>
                    </div>
                    <div class="card-body">
                        <h5 class="h6 card-title">Skills</h5>
                        {% for skill in profile.skills.all %}
                        <a href="{% url 'projects:tagged' pk=skill.pk %}"
                            class="badge badge-primary mr-1 my-1">{{skill|safe}}</a>
                        {% endfor %}
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <h5 class="h6 card-title">About</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1"><span data-feather="home" class="feather-sm mr-1"></span> Lives in <strong>{{profile.location.capitalize}}</strong></li>

                            <li class="mb-1"><span data-feather="briefcase" class="feather-sm mr-1"></span> Works or
                                study at <strong>{{profile.works_at.capitalize}}</strong></li>
                            <li class="mb-1"><span data-feather="map-pin" class="feather-sm mr-1"></span> From <strong>{{profile.country}}</strong></li>
                        </ul>
                    </div>
                    <hr class="my-0" />
                </div>
            </div>

            <div class="col-9">
                <div class="tab-content">
                    
                    <div class=" card tab-pane fade show active" id="answers" role="tabpanel">

                        {% if not answers %}
                        <div class="card-header">
                            <h5 class="card-title mb-0">No Answers posted</h5>
                        </div>
                        {% else %}
                        <div class="card-header">
                            <h5 class="card-title mb-0">Answers</h5>
                        </div>

                        <div class="card-body h-100">

                            {% for answer in answers %}
                            {% include 'issues/_answer.html' %}
                            {% endfor %}
                            <hr />
                        </div>
                        {% endif %}

                    </div>

                    <div class=" card tab-pane fade" id="issues" role="tabpanel">

                        <div class="card-header">
                            <h5 class="card-title mb-0">Issues</h5>
                        </div>

                        {% if not issues %}
                        <div class="card-header">
                            <h5 class="card-title mb-0">No Created Issues</h5>
                        </div>
                        {% else %}
                        <div class="card-header">

                            <h5 class="card-title mb-0"> Created Issues</h5>
                        </div>

                        <div style="margin: 20px;">
                            <table class="table table-hover my-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="d-none d-xl-table-cell">Created At</th>
                                        <th class="d-none d-xl-table-cell">Created By</th>
                                        <th class="d-none d-xl-table-cell">Project</th>
                                        <th class="d-none d-xl-table-cell">Members Working</th>
                                        <th class="d-none d-xl-table-cell">Priority</th>
                                        <th class="d-none d-xl-table-cell">Deadline</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for issue in issues %}
                                    {% include 'issues/_issue.html' %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {% endif %}

                        {% if not issues_member %}
                        <div class="card-header">
                            <h5 class="card-title mb-0">No Working Issues</h5>
                        </div>
                        {% else %}
                        <div class="card-header">

                            <h5 class="card-title mb-0"> Working Issues</h5>
                        </div>

                        <div style="margin: 20px;">
                            <table class="table table-hover my-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th class="d-none d-xl-table-cell">Created At</th>
                                        <th class="d-none d-xl-table-cell">Created By</th>
                                        <th class="d-none d-xl-table-cell">Project</th>
                                        <th class="d-none d-xl-table-cell">Members Working</th>
                                        <th class="d-none d-xl-table-cell">Priority</th>
                                        <th class="d-none d-xl-table-cell">Deadline</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for issue in issues_member %}
                                    {% include 'issues/_issue.html' %}
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        {% endif %}

                    </div>

                    <div class="tab-pane fade " id="projects" role="tabpanel">
                        <div class="row mb-2 mb-xl-3">
                            <div class="col-auto d-none d-sm-block">
                                <h3><strong>Projects</strong></h3>
                            </div>
                        </div>
                        
                        {% if not projects %}
                        <div class="row mb-2 mb-xl-3">
                            <div class="col-auto d-none d-sm-block">
                                <h3>No Created projects</h3>
                            </div>
                        </div>
                        {% else %}
                        <div class="row mb-2 mb-xl-3">
                            <div class="col-auto d-none d-sm-block">
                                <h3>Created projects</h3>
                            </div>
                        </div>
                        {% for project in projects %}
                            <div class="card">
                                <div class="card-header">
                                    <h2 style="font-size: large;" class="card-title"><strong>{{project.name.capitalize}}</strong></h2>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-5 col-md-4">
                                            <div class="nav flex-column nav-pills nav-secondary" id="v-pills-{{project.pk}}tab" role="tablist"
                                                aria-orientation="vertical">
                                                <a class="nav-link active" id="v-pills-{{project.pk}}home-tab" data-toggle="pill"
                                                    href="#v-pills-{{project.pk}}home" role="tab" aria-controls="v-pills-{{project.pk}}home"
                                                    aria-selected="true">Home</a>
                                                <a class="nav-link" id="v-pills-{{project.pk}}tags-tab" data-toggle="pill"
                                                    href="#v-pills-{{project.pk}}tags" role="tab" aria-controls="v-pills-{{project.pk}}tags"
                                                    aria-selected="false">tags</a>
                                                <a class="nav-link" href="{% url 'projects:single' pk=project.pk %}">view</a>
                                            </div>
                                        </div>
                                        <div class="col-7 col-md-8">
                                            <div class="tab-content" id="v-pills-{{project.pk}}tabContent">
                                                <div class="tab-pane fade show active" id="v-pills-{{project.pk}}home" role="tabpanel"
                                                    aria-labelledby="v-pills-{{project.pk}}home-tab">
                                                    <h5 class="card-title mb-4">{{ project.members.count }}
                                                        member{{ project.members.count|pluralize }}</h5>
                                                    {% if project.complete == False %}
                                                    <span class="text-danger"> <i
                                                            class="mdi mdi-arrow-bottom-right"></i>{{ project.issues.count }}
                                                        issue{{ project.issues.count|pluralize }}</span><br>
                                                    {% else %}
                                                    <span class="text-success"> <i
                                                            class="mdi mdi-arrow-bottom-right"></i>{{ project.issues.count }}
                                                        issue{{ project.issues.count|pluralize }}</span>
                                                    {% endif %}
                                                    <p>{{project.description|safe}}</p>
                                                </div>
                                                <div class="tab-pane fade" id="v-pills-{{project.pk}}tags" role="tabpanel"
                                                    aria-labelledby="v-pills-{{project.pk}}tags-tab">
                                                    <br><br>
                                                    {% for tag in project.tags.all %}
                                                    <a href="{% url 'projects:tagged' pk=tag.pk %}"
                                                        class="badge badge-primary mr-1 my-1">{{tag|safe}}</a>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                        {% endfor %}

                        {% endif %}

                        {% if not projects_member %}
                        <div class="row mb-2 mb-xl-3">
                            <div class="col-auto d-none d-sm-block">
                                <h3>No project joined</h3>
                            </div>
                        </div>
                        {% else %}
                        <div class="row mb-2 mb-xl-3">
                            <div class="col-auto d-none d-sm-block">
                                <h3> Working projects</h3>
                            </div>
                        </div>

                        {% for project in projects_member %}
                        <div class="card">
                            <div class="card-header">
                                <h2 style="font-size: large;" class="card-title"><strong>{{project.name.capitalize}}</strong></h2>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5 col-md-4">
                                        <div class="nav flex-column nav-pills nav-secondary" id="v-pills-{{project.pk}}tab" role="tablist"
                                            aria-orientation="vertical">
                                            <a class="nav-link active" id="v-pills-{{project.pk}}home-tab" data-toggle="pill"
                                                href="#v-pills-{{project.pk}}home" role="tab" aria-controls="v-pills-{{project.pk}}home"
                                                aria-selected="true">Home</a>
                                            <a class="nav-link" id="v-pills-{{project.pk}}tags-tab" data-toggle="pill"
                                                href="#v-pills-{{project.pk}}tags" role="tab" aria-controls="v-pills-{{project.pk}}tags"
                                                aria-selected="false">tags</a>
                                            <a class="nav-link" href="{% url 'projects:single' pk=project.pk %}">view</a>
                                        </div>
                                    </div>
                                    <div class="col-7 col-md-8">
                                        <div class="tab-content" id="v-pills-{{project.pk}}tabContent">
                                            <div class="tab-pane fade show active" id="v-pills-{{project.pk}}home" role="tabpanel"
                                                aria-labelledby="v-pills-{{project.pk}}home-tab">
                                                <h5 class="card-title mb-4">{{ project.members.count }}
                                                    member{{ project.members.count|pluralize }}</h5>
                                                {% if project.complete == False %}
                                                <span class="text-danger"> <i
                                                        class="mdi mdi-arrow-bottom-right"></i>{{ project.issues.count }}
                                                    issue{{ project.issues.count|pluralize }}</span><br>
                                                {% else %}
                                                <span class="text-success"> <i
                                                        class="mdi mdi-arrow-bottom-right"></i>{{ project.issues.count }}
                                                    issue{{ project.issues.count|pluralize }}</span>
                                                {% endif %}
                                                <p>{{project.description|safe}}</p>
                                            </div>
                                            <div class="tab-pane fade" id="v-pills-{{project.pk}}tags" role="tabpanel"
                                                aria-labelledby="v-pills-{{project.pk}}tags-tab">
                                                <br><br>
                                                {% for tag in project.tags.all %}
                                                <a href="{% url 'projects:tagged' pk=tag.pk %}"
                                                    class="badge badge-primary mr-1 my-1">{{tag|safe}}</a>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>


{% endblock %}
{% block script %}
<script type="text/javascript" src="{% static 'js/like.js' %}"></script>
{% endblock %}