<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, shrink-to-fit=no">
    <title>Messenger</title>
    <link href="{% static 'css/template.min.css' %}" rel="stylesheet">

</head>

<body>
    <style>
        .hide {
            display: none;
        }
    </style>

    <div class="layout">

        <!-- Navigation -->
        <div class="navigation navbar navbar-light justify-content-center py-xl-7">

            <!-- Brand -->
            <a href="#" class="d-none d-xl-block mb-6">
                <img src="{% static 'images/logo.png' %}" class="mx-auto fill-primary" data-inject-svg alt
                    style="height: 46px;">
            </a>

            <!-- Menu -->
            <ul class="nav navbar-nav flex-row flex-xl-column flex-grow-1 justify-content-between justify-content-xl-center py-3 py-lg-0"
                role="tablist">

                <!-- Invisible item to center nav vertically -->
                <li class="nav-item d-none d-xl-block invisible flex-xl-grow-1">
                    <a class="nav-link position-relative p-0 py-xl-3" href="#" title>
                        <i class="icon-lg fe-x"></i>
                    </a>
                </li>


                <!-- Friend -->
                <li class="nav-item ">
                    <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-friends"
                        title="Friends" role="tab">
                        <i class="icon-lg fe-users"></i>
                    </a>
                </li>

                <!-- Profile -->
                <li class="nav-item mt-xl-9">
                    <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-user"
                        title="User" role="tab">
                        <i class="icon-lg fe-user"></i>
                    </a>
                </li>

                <!-- Chats -->
                <li class="nav-item mt-xl-9">
                    <a class="nav-link position-relative p-0 py-xl-3 active" data-toggle="tab"
                        href="#tab-content-dialogs" title="Chats" role="tab">
                        <i class="icon-lg fe-message-square"></i>
                        <div class="badge badge-dot badge-primary badge-bottom-center"></div>
                    </a>
                </li>

                <!-- Projects -->
                <li class="nav-item mt-xl-9 ">
                    <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-projects"
                        title="project" role="tab">
                        <i class="icon-lg fe-briefcase"></i>
                    </a>
                </li>

                <!-- Issues -->
                <li class="nav-item mt-xl-9 d-none d-xl-block flex-xl-grow-1 ">
                    <a class="nav-link position-relative p-0 py-xl-3" data-toggle="tab" href="#tab-content-issues"
                        title="issue" role="tab">
                        <i class="icon-lg fe-alert-circle"></i>
                    </a>
                </li>


                <!-- Settings -->
                <li class="nav-item mt-xl-9">
                    <a class="nav-link position-relative p-0 py-xl-3" href="{% url 'home' %}" title="Dashboard">
                        <i class="icon-lg fe-arrow-left"></i>
                    </a>
                </li>

            </ul>
            <!-- Menu -->

        </div>
        <!-- Navigation -->

        <!-- Sidebar -->
        <div class="sidebar">
            <div class="tab-content h-100" role="tablist">

                <div class="tab-pane fade h-100" id="tab-content-friends" role="tabpanel">
                    <div class="d-flex flex-column h-100">

                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">

                                <!-- Title -->
                                <h2 class="font-bold mb-6">All Users</h2>
                                <!-- Title -->

                                <!-- Search -->
                                <form class="mb-6">
                                    <div class="input-group">
                                        <input type="text" class="form-control form-control-lg"
                                            placeholder="Search for users..."
                                            aria-label="Search for messages or users...">
                                        <div class="input-group-append">
                                            <button class="btn btn-lg btn-ico btn-secondary btn-minimal">
                                                <i class="fe-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- Search -->

                                
                                <nav class="mb-n6">

                                    <div class="mb-6">
                                        <small class="text-uppercase"> all Users</small>
                                    </div>

                                    {% for single_user in all_users %}
                                    {% if single_user != user %}
                                    <div class="card mb-6">
                                        <div href class="card-body">

                                            <div class="media">

                                                <div class="avatar mr-5">
                                                    <img class="avatar-img" src="{{single_user.profile.profile_pic}}"
                                                        alt="Anna Bridges">
                                                </div>


                                                <div class="media-body align-self-center">
                                                    <h6 class="mb-0">{{single_user.username.capitalize}}</h6>
                                                    <small class="text-muted">Reputation Points :
                                                        {{single_user.profile.reputation_points}}</small>
                                                </div>

                                                <div class="align-self-center ml-5">
                                                    <div class="dropdown z-index-max">
                                                        <a href="#"
                                                            class="btn btn-sm btn-ico btn-link text-muted w-auto"
                                                            data-toggle="dropdown" aria-haspopup="true"
                                                            aria-expanded="false">
                                                            <i class="fe-more-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu">
                                                            <a onclick="newchat({{single_user.pk}},{{user.pk}})" class="dropdown-item d-flex align-items-center" href="#">
                                                                chat <span class="ml-auto fe-edit-2"></span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Link -->
                                            <a href="{% url 'accounts:profile' pk=single_user.pk %}" class="stretched-link"></a>

                                        </div>
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </nav>
                                <!-- Friends -->

                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade h-100 show active" id="tab-content-dialogs" role="tabpanel">
                    <div class="d-flex flex-column h-100">

                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">

                                <h2 class="font-bold mb-6">Chats</h2>
                                
                                <!-- Favourites -->
                                <!-- <div class="text-center hide-scrollbar d-flex my-7" data-horizontal-scroll>
                                    
                                    <a href="#" class="d-block text-reset mr-7 mr-lg-6">
                                        <div class="avatar avatar-sm avatar-online mb-3">
                                            <img class="avatar-img" src=""
                                                alt="Image Description">
                                        </div>
                                        <div class="small"></div>
                                    </a>
                                    
                                </div> -->
                                <!-- Favourites -->

                                <!-- Chats -->
                                <nav class="nav d-block list-discussions-js mb-n6">
                                    
                                    <div id="chat_list" class="{{user.pk}}"></div>

                                </nav>
                                <!-- Chats -->

                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade h-100" id="tab-content-projects" role="tabpanel">
                    <div class="d-flex flex-column h-100">

                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">

                                <h2 class="font-bold mb-6">Projects</h2>
                                
                                
                                <!-- Chats -->
                                <nav class="nav d-block list-discussions-js mb-n6">
                                    {% if not my_projects %}
                                    {% else %}
                                    <div class="mb-6">
                                        <small class="text-uppercase">My Projects</small>
                                    </div>
    
                                    {% for project in my_projects %}

                                    <a onclick="ProjectNewChat({{project.pk}},{{user.pk}})" class="text-reset nav-link p-0 mb-6">
                                        <div class="card card-active-listener">
                                            <div class="card-body">

                                                <div class="media">


                                                    <div class="avatar mr-5">
                                                        <img class="avatar-img"
                                                            src="https://picsum.photos/id/{{project.pk}}/200/300"
                                                            alt="Bootstrap Themes">
                                                    </div>

                                                    <div class="media-body overflow-hidden">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <h6 class="text-truncate mb-0 mr-auto">
                                                                {{project.name}}</h6>
                                                            <p id="{{project.pk}}" class="project_time small text-muted text-nowrap ml-4"></p>
                                                        </div>
                                                        <div class="project_lastmessage text-truncate"></div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </a>

                                    {% endfor %}

                                    {% endif %}

                                    <div class="mb-6">
                                        <small class="text-uppercase">Joined Projects</small>
                                    </div>
                                    {% if not projects %}
                                    {% else %}
                                    
                                    {% for project in projects %}

                                    <a onclick="ProjectNewChat({{project.pk}},{{user.pk}})" class="text-reset nav-link p-0 mb-6">
                                        <div class="card card-active-listener">
                                            <div class="card-body">

                                                <div class="media">


                                                    <div class="avatar mr-5">
                                                        <img class="avatar-img"
                                                            src="https://picsum.photos/id/{{project.pk}}/200/300"
                                                            alt="Bootstrap Themes">
                                                    </div>

                                                    <div class="media-body overflow-hidden">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <h6 class="text-truncate mb-0 mr-auto">
                                                                {{project.name}}</h6>
                                                            <p id="{{project.pk}}" class="project_time small text-muted text-nowrap ml-4"></p>
                                                        </div>
                                                        <div class="project_lastmessage text-truncate"></div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </a>

                                    {% endfor %}
                                    {% endif %}
                                </nav>
                                <!-- Chats -->

                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade h-100 " id="tab-content-issues" role="tabpanel">
                    <div class="d-flex flex-column h-100">

                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">

                                <h2 class="font-bold mb-6">Issues</h2>
                                
                                <!-- Chats -->
                                <nav class="nav d-block list-discussions-js mb-n6">
                                    {% if not my_issues %}
                                    {% else %}
                                    <div class="mb-6">
                                        <small class="text-uppercase">My Issues</small>
                                    </div>
    
                                    {% for issue in my_issues %}

                                    <a onclick="IssueNewChat({{issue.pk}},{{user.pk}})" class="text-reset nav-link p-0 mb-6">
                                        <div class="card card-active-listener">
                                            <div class="card-body">

                                                <div class="media">


                                                    <div class="avatar mr-5">
                                                        <img class="avatar-img"
                                                            src="https://picsum.photos/id/{{issue.pk}}/200/300"
                                                            alt="Bootstrap Themes">
                                                    </div>

                                                    <div class="media-body overflow-hidden">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <h6 class="text-truncate mb-0 mr-auto">
                                                                {{issue.name}}</h6>
                                                            <p id="{{issue.pk}}" class="issue_time small text-muted text-nowrap ml-4"></p>
                                                        </div>
                                                        <div class="issue_lastmessage text-truncate"></div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </a>

                                    {% endfor %}

                                    {% endif %}

                                    <div class="mb-6">
                                        <small class="text-uppercase">Joined Issues</small>
                                    </div>
                                    {% if not issues %}
                                    {% else %}
                                    
                                    {% for issue in issues %}

                                    <a onclick="IssueNewChat({{issue.pk}},{{user.pk}})" class="text-reset nav-link p-0 mb-6">
                                        <div class="card card-active-listener">
                                            <div class="card-body">

                                                <div class="media">


                                                    <div class="avatar mr-5">
                                                        <img class="avatar-img"
                                                            src="https://picsum.photos/id/{{issue.pk}}/200/300"
                                                            alt="Bootstrap Themes">
                                                    </div>

                                                    <div class="media-body overflow-hidden">
                                                        <div class="d-flex align-items-center mb-1">
                                                            <h6 class="text-truncate mb-0 mr-auto">
                                                                {{issue.name}}</h6>
                                                            <p id="{{issue.pk}}" class="issue_time small text-muted text-nowrap ml-4"></p>
                                                        </div>
                                                        <div class="issue_lastmessage text-truncate"></div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </a>

                                    {% endfor %}
                                    {% endif %}
                                </nav>
                                <!-- Chats -->

                            </div>
                        </div>

                    </div>
                </div>

                <div class="tab-pane fade h-100" id="tab-content-user" role="tabpanel">
                    <div class="d-flex flex-column h-100">

                        <div class="hide-scrollbar">
                            <div class="container-fluid py-6">

                                <h2 class="font-bold mb-6">My Profile</h2>

                                <!-- Card -->
                                <div class="card mb-6">
                                    <div class="card-body">
                                        <div class="text-center py-6">
                                            <!-- Photo -->
                                            <div class="avatar avatar-xl mb-5">
                                                <img class="avatar-img" src="{{user.profile.profile_pic}}" alt>
                                            </div>

                                            <h5>{{user.username.capitalize}}</h5>
                                            <p class="text-muted">{{user.profile.works_at}}</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- Card -->

                                <!-- Card -->
                                <div class="card mb-6">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            <li class="list-group-item px-0 py-6">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <p class="small text-muted mb-0">Country</p>
                                                        <p>{{user.profile.country}}, {{user.profile.location}}</p>
                                                    </div>
                                                    <i class="text-muted icon-sm fe-globe"></i>
                                                </div>
                                            </li>

                                            <li class="list-group-item px-0 py-6">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <p class="small text-muted mb-0">Phone</p>
                                                        <p>{{user.profile.phone}}</p>
                                                    </div>
                                                    <i class="text-muted icon-sm fe-mic"></i>
                                                </div>
                                            </li>

                                            <li class="list-group-item px-0 py-6">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <p class="small text-muted mb-0">Email</p>
                                                        <p>{{user.email}}</p>
                                                    </div>
                                                    <i class="text-muted icon-sm fe-mail"></i>
                                                </div>
                                            </li>

                                            <li class="list-group-item px-0 py-6">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <p class="small text-muted mb-0">Reputation Points</p>
                                                        <p>{{user.profile.reputation_points}}</p>
                                                    </div>
                                                    <i class="text-muted icon-sm fe-clock"></i>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Card -->

                                <!-- Card -->
                                <div class="card mb-6">
                                    <div class="card-body">
                                        <ul class="list-group list-group-flush">
                                            {% if user.profile.twitter is not None %}
                                            <li class="list-group-item px-0 py-6">
                                                <a href="{{user.profile.twitter}}" class="media text-muted">
                                                    <div class="media-body align-self-center">
                                                        Twitter
                                                    </div>
                                                    <i class="icon-sm fe-twitter"></i>
                                                </a>
                                            </li>
                                            {% endif %}
                                            {% if user.profile.linkedin is not None %}
                                            <li class="list-group-item px-0 py-6">
                                                <a href="{{user.profile.linkedin}}" class="media text-muted">
                                                    <div class="media-body align-self-center">
                                                        LinkedIn
                                                    </div>
                                                    <i class="icon-sm fe-linkedin"></i>
                                                </a>
                                            </li>
                                            {% endif %}

                                            {% if user.profile.github is not None %}
                                            <li class="list-group-item px-0 py-6">
                                                <a href="{{user.profile.github}}" class="media text-muted">
                                                    <div class="media-body align-self-center">
                                                        Github
                                                    </div>
                                                    <i class="icon-sm fe-github"></i>
                                                </a>
                                            </li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                                <!-- Card -->

                                <div class="form-row">
                                    <div class="col">
                                        <!-- Button -->
                                        <a href="{% url 'set' %}">
                                            <button type="button"
                                                class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                                Settings
                                                <span class="fe-settings ml-auto"></span>
                                            </button>
                                        </a>
                                    </div>

                                    <div class="col">
                                        <!-- Button -->
                                        <a href="{% url 'accounts:logout' %}">
                                            <button type="button"
                                                class="btn btn-lg btn-block btn-basic d-flex align-items-center">
                                                Logout
                                                <span class="fe-log-out ml-auto"></span>
                                            </button>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>




                </div>
            </div>
        </div>

        <div id="nochat" class="main" data-mobile-height>

            <div class="chat flex-column justify-content-center text-center">
                <div class="container-xxl">

                    <div class="avatar avatar-lg mb-5">
                        <img class="avatar-img" src="{{user.profile.profile_pic}}" alt>
                    </div>

                    <h6>Hey, {{user.username.capitalize}}!</h6>
                    <p>Please select a chat to start messaging.</p>
                </div>
            </div>

        </div>

        <div id="selectchat" class="hide main main-visible" data-mobile-height>

            <!-- Chat -->
            <div id="chat-1" class="chat dropzone-form-js" data-dz-url="some.php">

                <!-- Chat: body -->
                <div class="chat-body">

                    <!-- Chat: Header -->
                    <div class="chat-header border-bottom py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">

                            <div class="row align-items-center">

                                <!-- Close chat(mobile) -->
                                <div class="col-3 d-xl-none">
                                    <ul class="list-inline mb-0">
                                        <li class="list-inline-item">
                                            <a class="text-muted px-0" href="#" data-chat="open">
                                                <i class="icon-md fe-chevron-left"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <!-- Chat photo -->
                                <div class="col-6 col-xl-6">
                                    <div class="media text-center text-xl-left">
                                        <div class="avatar avatar-sm d-none d-xl-inline-block mr-5">
                                            <img id="chat_instance_profile_pic" src="#" class="avatar-img" alt>
                                        </div>

                                        <div class="media-body align-self-center text-truncate">
                                            <h6 id="chat_instance_profile_name" class="text-truncate mb-n1"></h6>
                                            <small id="userskills" class="text-muted mx-2"></small>
                                        </div>
                                    </div>
                                </div>

                                <!-- Chat toolbar -->
                                <div class="col-3 col-xl-6 text-right">
                                    <ul class="nav justify-content-end">
                                        <li class="nav-item list-inline-item d-none d-xl-block mr-5">
                                            <a class="nav-link text-muted px-3" data-toggle="collapse"
                                                data-target="#chat-1-search" href="#" title="Search this chat">
                                                <i class="icon-md fe-search"></i>
                                            </a>
                                        </li>

                                        <!-- Mobile nav -->
                                        <li class="nav-item list-inline-item d-block d-xl-none">
                                            <div class="dropdown">
                                                <a class="nav-link text-muted px-0" href="#" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                    <i class="icon-md fe-more-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item d-flex align-items-center"
                                                        data-toggle="collapse" data-target="#chat-1-search" href="#">
                                                        Search <span class="ml-auto pl-5 fe-search"></span>
                                                    </a>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Mobile nav -->
                                    </ul>
                                </div>

                            </div><!-- .row -->

                        </div>
                    </div>
                    <!-- Chat: Header -->

                    <!-- Chat: Search -->
                    <div class="collapse border-bottom px-lg-8" id="chat-1-search">
                        <div class="container-xxl py-4 py-lg-6">

                            <div class="input-group">
                                <input onkeyup="TriggerOnChange(event)" type="text" class="form-control form-control-lg" placeholder="Search this chat"
                                    aria-label="Search this chat">

                                <div class="input-group-append">
                                    <button class="btn btn-lg btn-ico btn-secondary btn-minimal">
                                        <i class="fe-search"></i>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Chat: Search -->

                    <!-- Chat: Content-->
                    <div id="chatview-container" class="chat-content px-lg-8">
                        <div class="container-xxl py-6 py-lg-10">

                            <div id="list-wrapper">

                            </div>
                        </div>
                    </div>
                    <!-- Chat: Content -->

                    <!-- Chat: Footer -->
                    <div class="chat-footer border-top py-4 py-lg-6 px-lg-8">
                        <div class="container-xxl">
                            <div id="form-wrapper">

                            </div>
                        </div>
                    </div>
                    <!-- Chat: Footer -->
                </div>
                <!-- Chat: body -->

            </div>
            <!-- Chat -->

        </div>


    </div>
    <!-- Layout -->

    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-firestore.js"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>
    <script src="{% static 'js/firebaseconfig.js' %}"></script>
    <script src="{% static 'js/firebasechatting.js' %}"></script>
    <script src="{% static 'js/libs/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    
</body>

</html>