{% extends 'base.html' %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        <h1 class="h3 mb-3">Profile</h1>

        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card mb-3">
                    <div class="card-header">
                        <h5 class="card-title mb-0">Profile Details</h5>
                    </div>
                    <div class="card-body text-center">
                        <img src="{{profile.profile_pic.url}}" alt="Profile pic" class="rounded-circle img-responsive mt-2" width="128" height="128" />
                        <h5 class="card-title mb-0"><br>{{profile.first_name.capitalize}}</h5>
                        <div class="text-muted mb-2">{{profile.occupation.capitalize}}</div>

                        <div>
                            {% if user != profile.user %}
                            <a class="btn btn-primary btn-sm" href="#"><span data-feather="message-square"></span> Message</a>
                            {% endif %}
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <h5 class="h6 card-title">Skills</h5>
                        {% for skill in profile.skills.all %}
                        <a href="{% url 'projects:tagged' pk=skill.pk %}" class="badge badge-primary mr-1 my-1">{{skill}}</a>
                        {% endfor %}
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <h5 class="h6 card-title">About</h5>
                        <ul class="list-unstyled mb-0">
                            <li class="mb-1"><span data-feather="home" class="feather-sm mr-1"></span> Lives in <a href="#">{{profile.location.capitalize}}</a></li>

                            <li class="mb-1"><span data-feather="briefcase" class="feather-sm mr-1"></span> Works or study at <a href="#">{{profile.works_at.capitalize}}</a></li>
                            <li class="mb-1"><span data-feather="map-pin" class="feather-sm mr-1"></span> From <a href="#">{{profile.country}}</a></li>
                        </ul>
                    </div>
                    <hr class="my-0" />
                </div>
            </div>

            <div class="col-md-8 col-xl-9">
                <div class="card">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Messages</h5>
                    </div>
                    <div class="card-body h-100">

                        <div class="media">
                            <img src="img/avatars/avatar.jpg" width="36" height="36" class="rounded-circle mr-2" alt="Charles Hall">
                            <div class="media-body">
                                <strong>Charles Hall</strong> Messaged you
                                <div class="border text-sm text-muted p-2 mt-1">
                                    Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus
                                    pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
                                </div>
                            </div>
                        </div>
                        <hr />
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>


{% endblock %}