{% extends "projects/project_base.html" %}
{% block project_content %}

<div>
	<main class="content">
		<div class="container-fluid p-0">

			<h1 class="h3 mb-3">Project</h1>

			<div class="row">
				<div class="col-md-4 col-xl-3">
					<div class="card mb-3">
						<div class="card-header">
							<h5 class="card-title mb-0">Project Details</h5>
						</div>
						<div class="card-body text-center">
							<h1 style="font-size: 25px;" class="card-title mb-0">{{project.name.capitalize}}</h1>
							<div class="text-muted mb-2">{{project.user.username}}</div>

							<div>

								{% if project.complete == False %}
								{% if project.user == user %}
								<span class="badge badge-danger"><a style="color:white;"
										href="{% url 'projects:complete' pk=project.pk %}">Mark
										Completed</a></span>
								<span class="badge badge-warning"><a style="color:white;"
										href="{% url 'projects:delete' pk=project.pk %}">
										Delete</a></span>
								{% if project.projectJoinPermission == True %}
								<span class="badge badge-success"><a style="color:white;"
										href="{% url 'projects:joinper' pk=project.pk %}">
										Open to all</a></span>
								{% else %}
								<span class="badge badge-primary"><a style="color:white;"
										href="{% url 'projects:joinper' pk=project.pk %}">
										Joined Only</a></span>
								{% endif %}

								{% else %}
								<span class="badge badge-warning">Pending</span>
								{% endif %}
								{% else %}
								<span class="badge badge-success">Done</span>

								{% endif %}

								{% if project.complete == False and project.user != user %}

								{% if user in project.members.all %}
								<span class="badge badge-danger"><a style="color:white;"
										href="{% url 'projects:leave' pk=project.pk %}">Leave</a></span>
								{% else %}
								{% if project.projectJoinPermission == True %}
								<span class="badge badge-success"><a style="color:white;"
										href="{% url 'projects:join' pk=project.pk  %}">Join</a></span>
								{% else %}
								<span class="badge badge-secondary">Members only</span>
								{% endif %}
								{% endif %}

								{% else %}

								{% if user in project.members.all and user != project.user %}
								<td><span class="badge badge-danger"><a style="color:white;"
											href="{% url 'projects:leave' pk=project.pk %}">leave</a></span></td>
								{% endif %}
								{% endif %}

								{% if user in project.members.all or user == project.user %}
								<br><br>
								<a class="btn btn-primary btn-sm" href="{% url 'chats:all' %}"><span
										data-feather="message-square"></span>Discuss</a>
								{% endif %}

							</div>
						</div>
						<hr class="my-0" />
						<div class="card-body">
							<h5 class="h6 card-title">Tags</h5>
							{% for tag in project.tags.all %}
							<a href="{% url 'projects:tagged' pk=tag.pk %}"
								class="badge badge-primary mr-1 my-1">{{tag|safe}}</a>
							{% endfor %}

						</div>
						<hr class="my-0" />
						<div class="card-body">
							<h5 class="h6 card-title">About</h5>
							<ul class="list-unstyled mb-0">
								<li class="mb-1"><span data-feather="file-plus" class="feather-sm mr-1"></span> Created
									At
									<strong> {{project.created_at}}</strong></li>
								<li class="mb-1"><span data-feather="user" class="feather-sm mr-1"></span> Created By <a
										href="{% url 'accounts:profile' pk=project.user.pk %}">
										{{project.user.username}}</a></li>

								<li class="mb-1"><span data-feather="users" class="feather-sm mr-1"></span> Project
									Members <strong> {{project.members.count}}</strong></li>
								<li class="mb-1"><span data-feather="alert-triangle" class="feather-sm mr-1"></span>
									Total issues <strong> {{project.issues.count}}</strong></li>
							</ul>
						</div>
						<hr class="my-0" />
					</div>
				</div>

				<style>
					.hide {
						display: none;
					}
				</style>

				<div class="col-md-8 col-xl-9">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title mb-0">Description</h5>
						</div>

						<div class="card-body h-100">

							{% if user == project.user %}
							<button type="button" class="btn btn-success" data-toggle="modal"
								data-target="#defaultModalSuccess">
								Edit Project Code
							</button>
							<br><br>
							<div class="modal fade" id="defaultModalSuccess" tabindex="-1" role="dialog"
								aria-hidden="true">
								<div class="modal-dialog" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title">Github Repository for the Project</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div id="popupwindowid" class="modal-body m-3">
											<div class="form-group">
												<label class="form-label">Repository Owner</label>
												<input onkeyup="CheckRepo()" id="repoowner" type="name"
													class="form-control" placeholder="Owner">
											</div>
											<div class="form-group">
												<label class="form-label">Repository Name</label>
												<input onkeyup="CheckRepo()" id="reponame" type="name"
													class="form-control" placeholder="Repo name">
											</div>
											<div id="PopupWindowAlert" class="alert alert-danger alert-dismissible hide"
												role="alert">
												<button type="button" class="close" data-dismiss="alert"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
												<div id="PopupWindowAlertMessage" class="alert-message">
												</div>
											</div>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary"
												data-dismiss="modal">Close</button>
											<button id="PopupWindowButton" onclick="SaveRepo()" type="button"
												class="btn btn-danger">Save
												changes</button>
										</div>
									</div>
								</div>
							</div>
							{% endif %}

							{% if project.githubrepo == None or project.repoowner == None %}
							{% else %}
							{% if user in project.members.all or project.user == user %}
							<div class="alert alert-success alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<div class="alert-message">
									<h4 class="alert-heading">Github Repository</h4><a id="githubbutton" href="#"
										target="_blank"><button class="btn mb-1 btn-github"><i
												class="align-middle fab fa-github"></i>
											Github</button></a><br>
									<br>
									<nav aria-label="breadcrumb">
										<ol id="path-wrapper" class="breadcrumb">
										</ol>
									</nav>
									<div id="list-wrapper" class="dropdown-menu mb-2"
										style="position:static;display:block;">
									</div>
									<iframe id="sandboxframe" class="hide" src=""
										style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;"></iframe>
								</div>
							</div>
							{% endif %}
							{% endif %}
							<hr />
							<div>
								{{project.description|safe}}
							</div>
							<hr />
							{% if user in project.members.all or project.user == user %}
							{% if not project.issues.all %}
							<div>
								<h3>No Issues yet</h3>
							</div>
							<hr />
							{% else %}

							<table class="table table-hover my-0">
								<thead>
									<tr>
										<th>Name</th>
										<th class="d-none d-xl-table-cell">Created At</th>
										<th class="d-none d-xl-table-cell">Created By</th>
										<th class="d-none d-xl-table-cell">Project</th>
										<th class="d-none d-xl-table-cell">Members Working</th>
										<th class="d-none d-xl-table-cell">Priority</th>
										<th class="d-none d-xl-table-cell">Deadline</th>
										<th>Status</th>
										<th>Actions</th>
									</tr>
								</thead>
								<tbody>
									{% for issue in project.issues.all %}
									{% include "issues/_issue.html" %}
									{% endfor %}

								</tbody>
							</table>
							{% endif %}
						</div>
					</div>
				</div>

				{% else %}
				<div class="card-header">
					<h2 style="font-size: 25px;" class="card-title mb-0">You are not a member of this
						project, Join to view the Issues</h2>
				</div>

				{% endif %}
			</div>
		</div>
	</main>
</div>
{% endblock %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">
	const owner = "{{project.repoowner}}";
	const repo = "{{project.githubrepo}}";
	console.log(owner, repo);
	var listwrapper = document.getElementById('list-wrapper');
	var pathwrapper = document.getElementById('path-wrapper');
	const githubbutton = document.getElementById('githubbutton');
	githubbutton.href = `https://github.com/${owner}/${repo}`;

	buildList(`https://api.github.com/repos/${owner}/${repo}/git/trees/master?`, `${repo}`);

	function buildList(url, path) {
		fetch(url)
			.then((resp) => resp.json())
			.then(function (data) {
				listwrapper.innerHTML = "";
				if (data.content != undefined)
					pathwrapper.innerHTML += `<li class="breadcrumb-item"><a>${path}</a></li>`;
				else
					pathwrapper.innerHTML +=
					`<li onClick='buildPath("${url}","${path}")' class="breadcrumb-item"><a href="#">${path}</a></li>`;

				for (index in data.tree) {
					item =
						`<a onClick='buildList("${data.tree[index].url}","${data.tree[index].path}")' class="dropdown-item">${data.tree[index].path}</a>`
					listwrapper.innerHTML += item;
				}
				if (data.content != undefined) {

					var fullpath = "",
						i;
					for (i = 1; i < pathwrapper.childElementCount - 1; i++)
						fullpath += '/' + pathwrapper.children[i].children[0].innerHTML;

					fullpath += '/' + pathwrapper.children[i].children[0].innerHTML;

					console.log(fullpath);
					listwrapper.innerHTML = `<a class="dropdown-item">${path}</a>`
					sandboxframe.classList.remove('hide');
					sandboxframe.src =
						`https://codesandbox.io/embed/github/${owner}/${repo}/tree/master/?hidedevtools=1&codemirror=1&hidedevtools=1&hidenavigation=1&view=editor&expanddevtools=2&module=${fullpath}&theme=dark"`
					console.log(sandboxframe.src);
				}
			})
	}

	function buildPath(url, path) {

		var i, j = pathwrapper.childElementCount;
		for (i = 0; i < pathwrapper.childElementCount; i++) {
			if (pathwrapper.children[i].children[0].innerHTML == path) {
				while (i < pathwrapper.childElementCount)
					pathwrapper.removeChild(pathwrapper.lastChild);
			}
		}
		buildList(url, path);
	}
</script>

<script type="text/javascript">
	const repoowner = document.getElementById('repoowner');
	const reponame = document.getElementById('reponame');
	const popupwindow = document.getElementById('popupwindowid');
	const PopupWindowAlertMessage = document.getElementById('PopupWindowAlertMessage');
	const PopupWindowAlert = document.getElementById('PopupWindowAlert');
	const PopupWindowButton = document.getElementById('PopupWindowButton');

	function CheckRepo() {
		PopupWindowAlert.classList.remove('hide');
		url = `https://api.github.com/repos/${repoowner.value}/${reponame.value}`
		fetch(url)
			.then((resp) => resp.json())
			.then(function (data) {
				if (data.message != undefined) {
					dangeralert();
					PopupWindowAlertMessage.innerHTML = `Repo ${data.message}`;
					dangerbutton();
				} else {
					successalert();
					PopupWindowAlertMessage.innerHTML = "Repo found";
					successbutton();
				}
			});
	}

	function SaveRepo() {
		if (PopupWindowButton.classList.contains('btn-success') && PopupWindowAlert.classList.contains('alert-success')) {
			var url =
				`https://project-x1-0.herokuapp.com/projects/project_github_post/{{project.pk}}/${repoowner.value}/${reponame.value}`
			fetch(url).then(function (response) {
				window.location.reload();
				window.open(`https://githubbox.com/${repoowner.value}/${reponame.value}`, "_blank")
				buildList(`https://api.github.com/repos/${repoowner.value}/${reponame.value}/git/trees/master?`,
					`${reponame.value}`);
			})
		}
	}

	function dangeralert() {
		if (PopupWindowAlert.classList.contains('alert-success')) {
			PopupWindowAlert.classList.remove('alert-success');
			PopupWindowAlert.classList.add('alert-danger');
		}
	}

	function successalert() {
		if (PopupWindowAlert.classList.contains('alert-danger')) {
			PopupWindowAlert.classList.remove('alert-danger');
			PopupWindowAlert.classList.add('alert-success');
		}
	}

	function dangerbutton() {
		if (PopupWindowButton.classList.contains('btn-success')) {
			PopupWindowButton.classList.remove('btn-success');
			PopupWindowButton.classList.add('btn-danger');
		}
	}

	function successbutton() {
		if (PopupWindowButton.classList.contains('btn-danger')) {
			PopupWindowButton.classList.remove('btn-danger');
			PopupWindowButton.classList.add('btn-success');
		}
	}
</script>
{% endblock %}