<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <title>Project X1</title>
    <link rel="icon" type="image/png" href="https://i.pinimg.com/originals/c5/1c/da/c51cda89a29626ea7b655bd7f703218c.png"/>
    <link href="{%static 'css/app.css' %}" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="{% url 'home' %}">
                    <span class="align-middle">Project X1</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>

                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="{% url 'home' %}">
                            <i class="align-middle" data-feather="sliders"></i> <span
                                class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'accounts:profile' pk=user.pk %}">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="{% url 'set' %}">
                            <i class="align-middle" data-feather="settings"></i> <span
                                class="align-middle">Settings</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Tools & Components
                    </li>
                    <li class="sidebar-item">
                        <a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
                            <i class="align-middle" data-feather="briefcase"></i> <span
                                class="align-middle">Projects</span>
                        </a>
                        <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'projects:all' %}">View
                                    Projects</a>
                            </li>
                            <li class="sidebar-item"><a class="sidebar-link" href="{% url 'projects:create' %}">Create
                                    Project</a>
                            </li>
                    </li>
                </ul>
                </li>

                <li class="sidebar-item">
                    <a href="#forms" data-toggle="collapse" class="sidebar-link collapsed">
                        <i class="align-middle" data-feather="check-circle"></i> <span
                            class="align-middle">Issues</span>
                    </a>
                    <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                        <li class="sidebar-item"><a class="sidebar-link" href="{% url 'issues:all' %}">View Issues</a>
                        </li>
                        <li class="sidebar-item"><a class="sidebar-link" href="{% url 'issues:create' %}">Raise Issue
                                </a></li>
                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <i class="align-middle" data-feather="list"></i> <span class="align-middle">Tables</span>
                    </a>
                </li>

                <li class="sidebar-header">
                    Extras
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" href="#">
                        <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                    </a>
                </li>
                </ul>


            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle d-flex">
                    <i class="hamburger align-self-center"></i>
                </a>

                <!-- Navbar Search-->

                <form action="{% url 'search' %}" method="POST" class="form-inline d-none d-sm-inline-block">
                    {% csrf_token %}
                    <div class="input-group input-group-navbar">
                        <input name="search" type="search" class="form-control" placeholder="Search…" aria-label="Search">
                        <div class="input-group-append">
                            <button class="btn" type="submit">
                                <i class="align-middle" data-feather="search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- -->

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align">


                        <li class="nav-item dropdown">
                            <a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#"
                                data-toggle="dropdown">
                                <i class="align-middle" data-feather="settings"></i>
                            </a>

                            <a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#"
                                data-toggle="dropdown">

                                <span class="text-dark">{{user.username}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="{% url 'accounts:profile' pk=user.pk %}"><i class="align-middle mr-1"
                                        data-feather="user"></i> Profile</a>
                                <a class="dropdown-item" href="{% url 'home' %}"><i class="align-middle mr-1"
                                        data-feather="pie-chart"></i> Analytics</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'set' %}"><i class="align-middle mr-1"
                                        data-feather="settings"></i> Settings & Privacy</a>
                                <div class="dropdown-divider"></div>
                                {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'accounts:logout' %}">Logout</a>
                                {% else %}
                                <a class="dropdown-item" href="{% url 'accounts:login' %}">Login</a>
                                <a class="dropdown-item" href="{% url 'accounts:register' %}">Sign Up</a>
                                {% endif %}
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block content %}

            
            {% endblock %}
        </div>
    </div>

    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/tagsinput.js' %}"></script>
    <script src="{% static 'js/darkmode.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        if( '{{message}}' !='')
        {
        alert('{{message}}')
        }
    </script>
    <script>
        $(function () {
            $('#datetimepicker-dashboard').datetimepicker({
                inline: true,
                sideBySide: false,
                format: 'L'
            });
        });
    </script>
    {% block script %}

    {% endblock %}

</body>

</html>