{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3">Settings</h1>

		<div class="row">
			<div class="col-md-3 col-xl-2">

				<div class="card">
					<div class="card-header">
						<h5 class="card-title mb-0">Profile Settings</h5>
					</div>

					<div class="list-group list-group-flush" role="tablist">
						<a class="list-group-item list-group-item-action active" data-toggle="list" href="#account"
							role="tab">
							Account
						</a>
						<a class="list-group-item list-group-item-action" data-toggle="list" href="#password"
							role="tab">
							Password
						</a>
						<a class="list-group-item list-group-item-action badge-danger"
							href="{% url 'accounts:deluser' %}">
							Delete account
						</a>
					</div>
				</div>
			</div>

			<div class="col-md-9 col-xl-10">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="account" role="tabpanel">

						<div class="card">
							<div class="card-header">

								<h5 class="card-title mb-0">Profile info</h5>
							</div>
							<div class="card-body">
								<img id="profileimg" src="{{profile.profile_pic}}" alt="Profile pic"
									class="rounded-circle img-responsive mt-2" width="188" height="188" /><br><br>
								<hr>
								<progress value="0" max="100" id="uploader">0%</progress>
								<input type="file" accept="image/*" value="upload" id="imgbtn" />

								<form method="POST" action="{% url 'set' %}" enctype="multipart/form-data">
									{% csrf_token %}
									{{profile_form.as_p}}
									<button type="submit" class="btn btn-primary">Save changes</button>
								</form>
							</div>
						</div>

					</div>
					<div class="tab-pane fade" id="password" role="tabpanel">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title">Password</h5>

								<form method="POST" action="{% url 'changepass' %}">
									{% csrf_token %}
									{% for field in form %}
									<div class="form-group">
										<label for="inputPasswordCurrent">{{field.label_tag}}</label>
										<input type="password" name="{{field.name}}" class="form-control">
									</div>
									{% endfor %}

									<button type="submit" class="btn btn-primary">Save changes</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
{% block script %}
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-storage.js"></script>
<script src="{% static 'js/firebaseconfig.js' %}"></script>

<script>
	var uploader = document.getElementById('uploader');
	var imgbtn = document.getElementById('imgbtn');
	var profile_model = document.getElementById('profile_model')

	imgbtn.addEventListener('change', function (e) {
		var file = e.target.files[0];
		var storageRef = firebase.storage().ref('profile_pic/' + '{{profile.user.pk}}.jpg');
		var task = storageRef.put(file);
		var profileid = document.getElementById('profileimg');

		task.on('state_changed',
			function progress(snapshot) {
				var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
				uploader.value = percentage;
			},
			function error(err) {

			},

			function complete() {
				var imgfileurl = firebase.storage().ref('profile_pic/').child('{{profile.user.pk}}.jpg')
					.getDownloadURL();
				imgfileurl.then(profile_url => {
					console.log(profile_url);
					profileid.src = profile_url;
					profile_model.value = profile_url;

				});
			}
		);
	});
</script>

{% endblock %}