{% extends 'base.html' %}
{% block content %}

<main class="content">
    <div class="container-fluid p-0">

        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>Analytics</strong> Dashboard</h3>
            </div>
        </div>

        <div class="row">
            {% if not solved_issues and not pending_issues and not issues_member.count %}
            {% else %}

            <div class="col-md-3">
                <div class="card">

                    <div class="card-header">
                        <h5 class="card-title mb-0">Issues</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas id="chartjs-dashboard-pie"></canvas>
                                </div>
                            </div>

                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Solved issues</td>
                                        <td class="text-right">{{solved_issues}}</td>
                                    </tr>
                                    <tr>
                                        <td>Pending Issues</td>
                                        <td class="text-right">{{pending_issues}}</td>
                                    </tr>
                                    <tr>
                                        <td>Working Issues</td>
                                        <td class="text-right">{{issues_member.count}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if not solved_projects and not pending_projects and not projects_member.count %}
            {% else %}

            <div class="col-md-3">
                <div class="card">

                    <div class="card-header">
                        <h5 class="card-title mb-0">Projects</h5>
                    </div>
                    <div class="card-body d-flex">
                        <div class="align-self-center w-100">
                            <div class="py-3">
                                <div class="chart chart-xs">
                                    <canvas id="chart2js-dashboard-pie"></canvas>
                                </div>
                            </div>

                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Completed Projects</td>
                                        <td class="text-right">{{solved_projects}}</td>
                                    </tr>
                                    <tr>
                                        <td>Pending Projects</td>
                                        <td class="text-right">{{pending_projects}}</td>
                                    </tr>
                                    <tr>
                                        <td>Working Projects</td>
                                        <td class="text-right">{{projects_member.count}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">

                        <h5 class="card-title mb-0">Total Issues raised</h5>
                    </div>
                    <div class="card-body py-4">
                        <div class="chart chart-sm">
                            <canvas id="chartjs-dashboard-line"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>

        {% if not issues %}
        {% else %}
        <div class="row">
            <div class="card flex-fill">
                <div class="card-header">

                    <h5 class="card-title mb-0">Created Issues</h5>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Created At</th>
                            <th class="d-none d-xl-table-cell">Created By</th>
                            <th class="d-none d-xl-table-cell">Project</th>
                            <th class="d-none d-xl-table-cell">Members Working</th>
                            <th class="d-none d-xl-table-cell">Priority</th>
                            <th class="d-none d-xl-table-cell">Deadline</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in issues %}
                        {% include 'issues/_issue.html' %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
        {% endif %}
        {% if not issues_member %}
        {% else %}
        <div class="row">
            <div class="card flex-fill">
                <div class="card-header">

                    <h5 class="card-title mb-0">Working Issues</h5>
                </div>
                <table class="table table-hover my-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th class="d-none d-xl-table-cell">Created At</th>
                            <th class="d-none d-xl-table-cell">Created By</th>
                            <th class="d-none d-xl-table-cell">Project</th>
                            <th class="d-none d-xl-table-cell">Members Working</th>
                            <th class="d-none d-xl-table-cell">Priority</th>
                            <th class="d-none d-xl-table-cell">Deadline</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for issue in issues_member %}
                        {% include 'issues/_issue.html' %}
                        {% endfor %}

                    </tbody>
                </table>
            </div>


        </div>
        {% endif %}

        {% if not projects %}
        {% else %}

        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>Created</strong> Projects</h3>
            </div>
        </div>

        <div class="w-100">
            <div class="row">

                {% for project in projects %}
                {% include 'projects/_project.html' %}
                {% endfor %}

            </div>
        </div>
        {% endif %}
        {% if not projects_member %}
        {% else %}

        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
                <h3><strong>Project</strong> Joined</h3>
            </div>
        </div>

        <div class="w-100">
            <div class="row">
                {% for project in projects_member %}
                {% include 'projects/_project.html' %}
                {% endfor %}

            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <h5 class="card-title">Projects</h5>
                        <h6 class="card-subtitle text-muted">Global data of how many projects created and projects completed each month</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="chartjs-line"></canvas>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Issues</h5>
                        <h6 class="card-subtitle text-muted">Global data of how many issues were answered</h6>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="chartjs-bar"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</main>
{% endblock %}
{% block script %}
<script>
    $(function () {
        // Pie chart
        new Chart(document.getElementById("chartjs-dashboard-pie"), {
            type: 'pie',
            data: {
                labels: ["Done", "Working", "Pending"],
                datasets: [{
                    data: ['{{solved_issues}}', '{{issues_member.count}}',
                        '{{pending_issues}}'
                    ],
                    backgroundColor: [
                        window.theme.success,
                        window.theme.warning,
                        window.theme.danger
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    $(function () {
        // Pie chart
        new Chart(document.getElementById("chart2js-dashboard-pie"), {
            type: 'pie',
            data: {
                labels: ["Done", "Working", "Pending"],
                datasets: [{
                    data: ['{{solved_projects}}', '{{projects_member.count}}',
                        '{{pending_projects}}'
                    ],
                    backgroundColor: [
                        window.theme.success,
                        window.theme.warning,
                        window.theme.danger
                    ],
                    borderWidth: 5
                }]
            },
            options: {
                responsive: !window.MSInputMethodContext,
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                cutoutPercentage: 75
            }
        });
    });
</script>
<script>
    $(function () {
        var ctx = document.getElementById('chartjs-dashboard-line').getContext("2d");
        var gradient = ctx.createLinearGradient(0, 0, 0, 225);
        gradient.addColorStop(0, 'rgba(215, 227, 244, 1)');
        gradient.addColorStop(1, 'rgba(215, 227, 244, 0)');
        // Line chart
        new Chart(document.getElementById("chartjs-dashboard-line"), {
            type: 'line',
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov",
                    "Dec"
                ],
                datasets: [{
                    label: "Issues",
                    fill: true,
                    backgroundColor: gradient,
                    borderColor: window.theme.primary,
                    data: [
                        21,
                        15,
                        15,
                        18,
                        15,
                        19,
                        25,
                        24,
                        28,
                        34,
                        29,
                        33
                    ]
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 10
                        },
                        display: true,
                        borderDash: [3, 3],
                        gridLines: {
                            color: "rgba(0,0,0,0.0)"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    $(function() {
        // Line chart
        new Chart(document.getElementById("chartjs-line"), {
            type: "line",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Projects created",
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: window.theme.primary,
                    data: [21, 15, 15, 18, 14, 22, 29, 24, 29, 38, 29, 33]
                }, {
                    label: "Projects completed",
                    fill: true,
                    backgroundColor: "transparent",
                    borderColor: "#adb5bd",
                    borderDash: [4, 4],
                    data: [9, 7, 6, 8, 9, 12, 14, 12, 15, 21, 14, 18]
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                tooltips: {
                    intersect: false
                },
                hover: {
                    intersect: true
                },
                plugins: {
                    filler: {
                        propagate: false
                    }
                },
                scales: {
                    xAxes: [{
                        reverse: true,
                        gridLines: {
                            color: "rgba(0,0,0,0.05)"
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            stepSize: 500
                        },
                        display: true,
                        borderDash: [5, 5],
                        gridLines: {
                            color: "rgba(0,0,0,0)",
                            fontColor: "#fff"
                        }
                    }]
                }
            }
        });
    });
</script>
<script>
    $(function() {
        // Bar chart
        new Chart(document.getElementById("chartjs-bar"), {
            type: "bar",
            data: {
                labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                datasets: [{
                    label: "Issues Answered",
                    backgroundColor: window.theme.primary,
                    borderColor: window.theme.primary,
                    hoverBackgroundColor: window.theme.primary,
                    hoverBorderColor: window.theme.primary,
                    data: [54, 66, 11, 45, 42, 45, 35, 43, 50, 56, 48, 39],
                    barPercentage: .75,
                    categoryPercentage: .5
                }, {
                    label: "Issues Raised",
                    backgroundColor: "#dee2e6",
                    borderColor: "#dee2e6",
                    hoverBackgroundColor: "#dee2e6",
                    hoverBorderColor: "#dee2e6",
                    data: [69, 66, 24, 48, 52, 51, 44, 53, 62, 79, 51, 68],
                    barPercentage: .75,
                    categoryPercentage: .5
                }]
            },
            options: {
                maintainAspectRatio: false,
                legend: {
                    display: false
                },
                scales: {
                    yAxes: [{
                        gridLines: {
                            display: false
                        },
                        stacked: false,
                        ticks: {
                            stepSize: 20
                        }
                    }],
                    xAxes: [{
                        stacked: false,
                        gridLines: {
                            color: "transparent"
                        }
                    }]
                }
            }
        });
    });
</script>


{% endblock %}