<!DOCTYPE html>
{% load static %}
<html lang="en" class="no-js">

<head>
    <title>Project X1</title>
    <link rel="icon" type="image/png"
        href="https://i.pinimg.com/originals/c5/1c/da/c51cda89a29626ea7b655bd7f703218c.png" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://unpkg.com/animejs@3.0.1/lib/anime.min.js"></script>
    <script src="https://unpkg.com/scrollreveal@4.0.0/dist/scrollreveal.min.js"></script>
</head>

<body class="is-boxed has-animations">
    <div class="body-wrap">
        <!-- logo -->
        <header class="site-header">
            <div class="container">
                <div class="site-header-inner">
                    <div class="brand header-brand">
                        <img style="height: 120px;" src="{% static '/images/logo.png' %}" alt="Logo">
                    </div>
                </div>
            </div>
        </header>
        <!--  -->
        <main>
            <section class="hero">
                <div class="container">
                    <div class="hero-inner">
                        <div class="hero-copy">
                            <h1 class="hero-title mt-0">Project X1</h1>
                            <p class="hero-paragraph">A very simple way to track bugs in a project ,<br> and collaborate
                                with your colleagues<br><br>Its simple but effective</p>
                            <div class="hero-cta"><a class="button button-primary"
                                    href="{% url 'accounts:login' %}">Login</a><a class="button"
                                    href="{% url 'accounts:register' %}">Sign Up</a></div>
                        </div>
                        <img style="height:400px;margin-right:2000px" src="{% static 'images/Capture.PNG' %}">
                       
                    </div>
                </div>

            </section>

            <section class="features section">
                <div class="container">
                    <div class="features-inner section-inner has-bottom-divider">
                        <div class="features-wrap">
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img style="height: 100px;"
                                            src="https://cdn0.iconfinder.com/data/icons/business-management-109/64/project-management-planning-Document-512.png"
                                            alt="Feature 01">
                                    </div>
                                    <h4 class="feature-title mt-24">Projects</h4>
                                    <p class="text-sm mb-0">Create a projects to group all the similar issues and work
                                        on it with the project members </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img style="height: 100px;"
                                            src="https://image.flaticon.com/icons/png/512/1087/1087815.png"
                                            alt="Feature 02">
                                    </div>
                                    <h4 class="feature-title mt-24">Issue customization</h4>
                                    <p class="text-sm mb-0">You are the boss ,set deadlines , decide the priority ,
                                        choose the best answer to the issue , customize the issue anytime you want </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img style="height: 100px;"
                                            src="https://icons.iconarchive.com/icons/custom-icon-design/flatastic-1/512/search-icon.png"
                                            alt="Feature 03">
                                    </div>
                                    <h4 class="feature-title mt-24">Search feature</h4>
                                    <p class="text-sm mb-0">If you are not finding what you are looking for , use the
                                        search feature to get all the projects and issues with tags related to your
                                        search </p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img style="height: 100px;"
                                            src="https://cdn1.iconfinder.com/data/icons/charts-analytics/128/Charts_Analytics_kpi_dashboard_report_3_pie-32-512.png"
                                            alt="Feature 04">
                                    </div>
                                    <h4 class="feature-title mt-24">Analytical Dashboard</h4>
                                    <p class="text-sm mb-0">Dashboard is filled with pie charts and gaphs to track you
                                        progress and making it easy to catch up pending work</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img style="height: 100px;"
                                            src="https://cdn1.iconfinder.com/data/icons/technology-devices-2/100/Profile-512.png"
                                            alt="Feature 05">
                                    </div>
                                    <h4 class="feature-title mt-24">Profile</h4>
                                    <p class="text-sm mb-0">Build you profile and show off your coding skills by
                                        increasing your reputation points</p>
                                </div>
                            </div>
                            <div class="feature text-center is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <img style="height: 100px;"
                                            src="https://www.pngkey.com/png/full/907-9079371_forum-icon.png"
                                            alt="Feature 06">
                                    </div>
                                    <h4 class="feature-title mt-24">Forums</h4>
                                    <p class="text-sm mb-0">Discuss your ideas and views on a particular issue in the
                                        forums to find out the best solution to a particular issue</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>


            <section class="cta section">
                <div class="container">
                    <div class="cta-inner section-inner">
                        <h3 class="section-title mt-0">Wanna know about me ?</h3>
                        <div class="cta-cta">
                            <a class="button button-primary button-wide-mobile"
                                href="https://www.linkedin.com/in/yash-aggarwal-06a751192">Get in touch</a>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="site-footer-inner">
                    <div class="brand footer-brand">
                        <a href="#">
                            <img style="height: 80px;" class="header-logo-image" src="{% static '/images/logo.png' %}" alt="Logo">
                        </a>
                    </div>
                    <ul class="footer-links list-reset">
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="#">About Me</a>
                        </li>
                        <li>
                            <a href="#">FAQ's</a>
                        </li>
                        <li>
                            <a href="#">Support</a>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </footer>
    </div>

    <script>
        ! function () {
            window;
            const e = document.documentElement;
            if (e.classList.remove("no-js"), e.classList.add("js"), document.body.classList.contains(
                    "has-animations")) {
                (window.sr = ScrollReveal()).reveal(".feature, .pricing-table-inner", {
                    duration: 600,
                    distance: "20px",
                    easing: "cubic-bezier(0.5, -0.01, 0, 1.005)",
                    origin: "bottom",
                    interval: 100
                }), e.classList.add("anime-ready"), anime.timeline({
                    targets: ".hero-figure-box-05"
                }).add({
                    duration: 400,
                    easing: "easeInOutExpo",
                    scaleX: [.05, .05],
                    scaleY: [0, 1],
                    perspective: "500px",
                    delay: anime.random(0, 400)
                }).add({
                    duration: 400,
                    easing: "easeInOutExpo",
                    scaleX: 1
                }).add({
                    duration: 800,
                    rotateY: "-15deg",
                    rotateX: "8deg",
                    rotateZ: "-1deg"
                }), anime.timeline({
                    targets: ".hero-figure-box-06, .hero-figure-box-07"
                }).add({
                    duration: 400,
                    easing: "easeInOutExpo",
                    scaleX: [.05, .05],
                    scaleY: [0, 1],
                    perspective: "500px",
                    delay: anime.random(0, 400)
                }).add({
                    duration: 400,
                    easing: "easeInOutExpo",
                    scaleX: 1
                }).add({
                    duration: 800,
                    rotateZ: "20deg"
                }), anime({
                    targets: ".hero-figure-box-01, .hero-figure-box-02, .hero-figure-box-03, .hero-figure-box-04, .hero-figure-box-08, .hero-figure-box-09, .hero-figure-box-10",
                    duration: anime.random(600, 800),
                    delay: anime.random(600, 800),
                    rotate: [anime.random(-360, 360), function (e) {
                        return e.getAttribute("data-rotation")
                    }],
                    scale: [.7, 1],
                    opacity: [0, 1],
                    easing: "easeInOutExpo"
                })
            }
        }();
    </script>
</body>

</html>