{% extends "projects/project_base.html" %}

{% block preproject %}
<div class="col-md-4">
	<div class="content">
		{% if user.is_authenticated %}
		<h2>
			Welcome back
			<a href="{% url 'issues:for_user' username=user.username %}">@{{user.username }}</a>
		</h2>

    {% endif %}
			<h2>projects</h2>

			<p>Welcome to the projects Page! Select a project with a shared interest!</p>
	</div>
	{% if user.is_authenticated %}
	<a href="{% url 'projects:create' %}" class="btn btn-md btn-fill btn-warning"><span class="glyphicon glyphicon-plus-sign"></span> Create New project!</a>
	{% endif %}
</div>
{% endblock %}

{% block project_content %}
<div class="col-md-8">
	<div class="list-project">
		{% for project in object_list %}
		  <a class="list-project-item" href="{% url 'projects:single' slug=project.slug %}">
			     <h3 class="title list-project-item-heading">{{ project.name }}</h3>
			<div class="list-project-item-text container-fluid">
				{{ project.description_html|safe }}
				<div class="row">
					<div class="col-md-4">
						<span class="badge">{{ project.members.count }}</span> member{{ project.members.count|pluralize }}
					</div>
					<div class="col-md-4">
						<span class="badge">{{ project.issues.count }}</span> issue{{ project.issues.count|pluralize }}
					</div>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
