{% extends "projects/project_base.html" %}

{% block preproject %}
<div>
	<div>
		{% if user.is_authenticated %}
		<h2>
			Welcome
			<a href="{% url 'issues:for_user' username=user.username %}">@{{user.username }}</a>
		</h2>

		{% endif %}
		<h2>projects</h2>

		<p>Welcome to the projects Page! Select a project with a shared interest!</p>
	
	</div>

	{% if user.is_authenticated %}
	<a href="{% url 'projects:create' %}">Create New project!</a>
	{% endif %}

</div>
{% endblock %}

{% block project_content %}
<div>
	<div>
		{% for project in object_list %}
		{% include "projects/_project.html" %}
		{% endfor %}
	</div>
</div>
{% endblock %}