{% extends "projects/project_base.html" %}


{% block project_content %}
<main class="content">
	<div class="container-fluid p-0">

		<div class="row mb-2 mb-xl-3">
			<div class="col-auto d-none d-sm-block">
				<h3><strong>Are you sure you want to delete this project ?</strong><br> Once deleted there is no going
					back</h3>
				{% if project.issues.count > 0 %}
				<h3>The project still contains some issues , which will not be deleted </h3>
				{% endif %}

			</div>
		</div>


		<div class="row">
			<div class="col-xl-6 col-xxl-5 d-flex">
				<div class="w-100">
					<div class="row">

							{% include "projects/_project.html" with project=object hide_delete=True %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<form style="margin-left:12px" method="POST">
		{% csrf_token %}
		<input class="btn btn-pill btn-danger" type="submit" value="Confirm Delete">
		<a class="btn btn-pill btn-primary" href="{% url 'projects:single' pk=object.pk %}">Cancel</a>
	</form>
</main>
{% endblock %}